h1 Editing Criteria Definition
hr
= render 'form', criteria_definition: @criteria_definition
hr

= link_to 'Show', criteria_definition_path(@criteria_definition), class: 'btn btn-success btn-sm'
= link_to 'Back', criteria_definitions_path, class: 'btn btn-secondary btn-sm ml-2'
